<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DrivingSchoolConnectionString"
            connectionString="Data Source=TULAVOI\HOANGVU;Initial Catalog=DrivingSchool;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DrivingSchoolConnectionString1"
            connectionString="Data Source=TULAVOI\HOANGVU;Initial Catalog=DrivingSchool;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DrivingSchoolConnectionString2"
            connectionString="Data Source=DANOITXD\SQLEXPRESS;Initial Catalog=DrivingSchool;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DrivingSchool_V2ConnectionString"
            connectionString="Data Source=TULAVOI\HOANGVU;Initial Catalog=DrivingSchool_V2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>